@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'SCoreDream';
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#root {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100% - 56px);
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}